<nz-modal 
  [(nzVisible)]="isVisible" 
  [nzFooter]="null" 
  [nzWidth]="'320px'"
  [nzBodyStyle]="{ 'padding': '20px', 'text-align': 'center' }"
  [nzStyle]="{ 'border-radius': '16px', 'box-shadow': '0 8px 20px rgba(0,0,0,0.1)','overflow':'hidden', 'padding':'0' }"
  nzClosable="false"
>
  <ng-container *nzModalContent>
      <nz-result
      [nzStatus]="infoModal.status"
      [nzTitle]="infoModal.title"
      [nzSubTitle]="infoModal.description"
    >
      <div nz-result-extra>
        <button class="cute-button" (click)="handleOk(infoModal.onOK)">
          Aceptar
        </button>
      </div>
    </nz-result>
  </ng-container>
</nz-modal>
