<main>
    <header>
      <div>
        <img [routerLink]="['/']"  src="https://brandemia.org/contenido/subidas/2022/11/logo-amazon-2000-actualidad-1024x576.png" width="200px" height="70px" alt="logo">
        <input id="inputSearchProduct" type="text" >
      </div>
      <div class="cont">

      <ul class="list-header">
        <li>Categoria</li>
        @if (userInfo !== undefined) {
            <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomLeft">
              <nz-avatar nzIcon="user" nzSize="default"  nzSrc=""></nz-avatar>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable style="flex-direction: column;">
                <li nz-menu-item>{{userInfo.nombre}}</li>
                <li nz-menu-item>2nd menu item</li>
                <li nz-menu-item>3rd menu item</li>
                <li nz-menu-item nzDanger (click)="cerrarSession()"><nz-icon nzType="logout" nzTheme="outline" style="margin-right: 5px;" /> Salir </li>
              </ul>
            </nz-dropdown-menu>
        }
        @else {
          <li (click)="showLogin()">Iniciar sesion</li>
        }
        <li>
          <nz-badge [nzCount]="5">
            <nz-icon nzType="shopping-cart" nzTheme="outline"  style="font-size: 30px;"/>
          </nz-badge>
        </li>
      </ul>
    </div>

    </header>
    <app-login/>
    <router-outlet/>
    <footer>
    </footer>
</main>
