.cover-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que ocupe todo el espacio disponible */
    width: 100%;
}
.cover-container img {
    max-width: 100%; /* Evita que la imagen sea más grande que el contenedor */
    max-height: 100%;
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
  }

.animation {
    opacity: 0;
    position: relative;
    
    animation: fadeInAnimation 2s forwards;
  }
  
  /* Definir el comportamiento de la animación */
  @keyframes fadeInAnimation {
    to {
        opacity: 1;
        top: 0 ;
    }
  }