<div class="animation" style="top: -30px;">
    <nz-card nzHoverable style="width:240px; margin: 10px 8px;" [nzCover]="coverTemplate" [nzActions]="[aggCarrito]">
        <nz-card-meta 
        [nzTitle]="'$'+price" 
        nzDescription={{name}}
        />
    </nz-card>
</div>
<ng-template #coverTemplate>
    <div class="cover-container">
        <!-- <nz-skeleton-element nzType="image" [nzActive]="true"></nz-skeleton-element> -->
        <img alt="example" width="200px" height="200px" src={{img}} />
    </div>
</ng-template>
<ng-template #aggCarrito>
    <button id="btn-agg-cart" type="button" (click)="saveProduct(id,1)" >Agregar al carrito</button>
</ng-template>